.tracing-search-items {
    margin-top: 10px;

    input {
        width: 100%;
        padding: 8px 16px;
        border: none;
        outline: none;
        border-radius: 3px;
        background-color: #F2F3F5;
    }
}