.tracing-details {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding: 30px;
    
    .tracing-tabs {
        display: flex;
    }
    
    .tracing-tabs-content {
        display: flex;
        flex-grow: 1;
        padding: 15px;
    }
}