.tracing-filter {
    display: flex;
    justify-content: center;
    
    > * {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .tracing-filter__by-date {
        height: 31px;
        padding: 0 16px;
        border: none;
        outline: none;
        background-color: #F2F3F5;
    }
}